/*reset style*/
margin: 0 ;
padding : 0 ;
box sizing:border box;
/*global style*/
.container{ width: 80%;
margin:auto;
}
hr{ width: 2%;}
.bg-light{ background-color: azure;}
section{ padding:3%;
}
.card{ width: 30%;
background-color: aliceblue;
border: 1px, solid;
padding: 2%;
}
.card ul{ display: flex;
width: 3%;}
.d-flex{ display: flex;
justify-content: start;
align-items: start;}

/*custom style*/